:root {
  --duration: 20s;
  --delay: 20s;
}

html {
  background-color: black;
  animation: shrink var(--duration) var(--delay) linear infinite;
}

body {
  position: relative;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  animation: spin var(--duration) var(--delay) linear infinite;
  transform-style: preserve-3d;
  perspective: 25rem;
}

img {
  --duration: 40s;
  --name: float-up-1;
  position: absolute;
  top: 0;
  left: 0;
  width: 33vw;
  transform: translateY(200vh);
  animation: var(--name) var(--duration) linear infinite;
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
img:nth-child(1) {
  animation-delay: 0s;
}
img:nth-child(2) {
  animation-delay: -3s;
}
img:nth-child(3) {
  animation-delay: -6s;
}
img:nth-child(4) {
  animation-delay: -9s;
}
img:nth-child(5) {
  animation-delay: -12s;
}
img:nth-child(6) {
  animation-delay: -15s;
}
img:nth-child(7) {
  animation-delay: -18s;
}
img:nth-child(8) {
  animation-delay: -21s;
}
img:nth-child(9) {
  animation-delay: -24s;
}
img:nth-child(10) {
  animation-delay: -27s;
}
img:nth-child(11) {
  animation-delay: -30s;
}
img:nth-child(12) {
  animation-delay: -33s;
}
img:nth-child(13) {
  animation-delay: -36s;
}
img:nth-child(14) {
  animation-delay: -39s;
}
img:nth-child(15) {
  animation-delay: -42s;
}
img:nth-child(16) {
  animation-delay: -45s;
}
img:nth-child(17) {
  animation-delay: -48s;
}
img:nth-child(18) {
  animation-delay: -51s;
}
img:nth-child(19) {
  animation-delay: -54s;
}
img:nth-child(20) {
  animation-delay: -57s;
}
img:nth-child(21) {
  animation-delay: -60s;
}
img:nth-child(22) {
  animation-delay: -63s;
}
img:nth-child(23) {
  animation-delay: -66s;
}
img:nth-child(24) {
  animation-delay: -69s;
}
img:nth-child(25) {
  animation-delay: -72s;
}
img:nth-child(26) {
  animation-delay: -75s;
}
img:nth-child(27) {
  animation-delay: -78s;
}
img:nth-child(28) {
  animation-delay: -71s;
}
img:nth-child(29) {
  animation-delay: -74s;
}
img:nth-child(30) {
  animation-delay: -77s;
}
img:nth-child(31) {
  animation-delay: -80s;
}
img:nth-child(32) {
  animation-delay: -83s;
}
img:nth-child(33) {
  animation-delay: -86s;
}
img:nth-child(34) {
  animation-delay: -89s;
}
img:nth-child(35) {
  animation-delay: -82s;
}
img:nth-child(36) {
  animation-delay: -85s;
}
img:nth-child(37) {
  animation-delay: -88s;
}
img:nth-child(38) {
  animation-delay: -91s;
}
img:nth-child(39) {
  animation-delay: -94s;
}
img:nth-child(40) {
  animation-delay: -97s;
}
img:nth-child(41) {
  animation-delay: -100s;
}
img:nth-child(42) {
  animation-delay: -103s;
}
img:nth-child(43) {
  animation-delay: -106s;
}
img:nth-child(44) {
  animation-delay: -109s;
}
img:nth-child(45) {
  animation-delay: -102s;
}
img:nth-child(46) {
  animation-delay: -105s;
}
img:nth-child(47) {
  animation-delay: -108s;
}
img:nth-child(48) {
  animation-delay: -111s;
}
img:nth-child(49) {
  animation-delay: -114s;
}
img:nth-child(50) {
  animation-delay: -117s;
}
img:nth-child(51) {
  animation-delay: -120s;
}
img:nth-child(52) {
  animation-delay: -123s;
}
img:nth-child(53) {
  animation-delay: -126s;
}
img:nth-child(54) {
  animation-delay: -129s;
}
img:nth-child(55) {
  animation-delay: -132s;
}
img:nth-child(56) {
  animation-delay: -135s;
}
img:nth-child(57) {
  animation-delay: -138s;
}
img:nth-child(58) {
  animation-delay: -141s;
}
img:nth-child(59) {
  animation-delay: -144s;
}
img:nth-child(60) {
  animation-delay: -147s;
}
img:nth-child(61) {
  animation-delay: -150s;
}
img:nth-child(62) {
  animation-delay: -153s;
}
img:nth-child(63) {
  animation-delay: -156s;
}
img:nth-child(64) {
  animation-delay: -159s;
}
img:nth-child(65) {
  animation-delay: -162s;
}
img:nth-child(66) {
  animation-delay: -165s;
}
img:nth-child(67) {
  animation-delay: -168s;
}
img:nth-child(68) {
  animation-delay: -171s;
}
img:nth-child(69) {
  animation-delay: -174s;
}
img:nth-child(70) {
  animation-delay: -177s;
}
img:nth-child(71) {
  animation-delay: -180s;
}
img:nth-child(72) {
  animation-delay: -183s;
}
img:nth-child(73) {
  animation-delay: -186s;
}
img:nth-child(74) {
  animation-delay: -189s;
}
img:nth-child(75) {
  animation-delay: -192s;
}
img:nth-child(76) {
  animation-delay: -195s;
}
img:nth-child(77) {
  animation-delay: -198s;
}
img:nth-child(78) {
  animation-delay: -201s;
}
img:nth-child(79) {
  animation-delay: -204s;
}
img:nth-child(80) {
  animation-delay: -207s;
}
img:nth-child(81) {
  animation-delay: -210s;
}
img:nth-child(82) {
  animation-delay: -213s;
}
img:nth-child(83) {
  animation-delay: -216s;
}
img:nth-child(84) {
  animation-delay: -219s;
}
img:nth-child(85) {
  animation-delay: -222s;
}
img:nth-child(86) {
  animation-delay: -225s;
}
img:nth-child(87) {
  animation-delay: -228s;
}
img:nth-child(88) {
  animation-delay: -231s;
}
img:nth-child(89) {
  animation-delay: -234s;
}
img:nth-child(90) {
  animation-delay: -237s;
}
img:nth-child(91) {
  animation-delay: -240s;
}
img:nth-child(92) {
  animation-delay: -243s;
}
img:nth-child(93) {
  animation-delay: -246s;
}
img:nth-child(94) {
  animation-delay: -249s;
}
img:nth-child(95) {
  animation-delay: -252s;
}
img:nth-child(96) {
  animation-delay: -255s;
}
img:nth-child(97) {
  animation-delay: -258s;
}
img:nth-child(98) {
  animation-delay: -261s;
}
img:nth-child(99) {
  animation-delay: -264s;
}
img:nth-child(100) {
  animation-delay: -267s;
}
img:nth-child(101) {
  animation-delay: -270s;
}
img:nth-child(102) {
  animation-delay: -273s;
}
img:nth-child(103) {
  animation-delay: -276s;
}
img:nth-child(104) {
  animation-delay: -279s;
}
img:nth-child(105) {
  animation-delay: -282s;
}
img:nth-child(106) {
  animation-delay: -285s;
}
img:nth-child(107) {
  animation-delay: -288s;
}
img:nth-child(108) {
  animation-delay: -291s;
}
img:nth-child(109) {
  animation-delay: -294s;
}
img:nth-child(110) {
  animation-delay: -297s;
}
img:nth-child(111) {
  animation-delay: -300s;
}
img:nth-child(112) {
  animation-delay: -303s;
}
img:nth-child(113) {
  animation-delay: -306s;
}
img:nth-child(114) {
  animation-delay: -309s;
}
img:nth-child(115) {
  animation-delay: -312s;
}
img:nth-child(116) {
  animation-delay: -315s;
}
img:nth-child(117) {
  animation-delay: -318s;
}
img:nth-child(118) {
  animation-delay: -321s;
}
img:nth-child(119) {
  animation-delay: -324s;
}
img:nth-child(120) {
  animation-delay: -327s;
}
img:nth-child(121) {
  animation-delay: -330s;
}
img:nth-child(122) {
  animation-delay: -333s;
}
img:nth-child(123) {
  animation-delay: -336s;
}
img:nth-child(124) {
  animation-delay: -339s;
}
img:nth-child(125) {
  animation-delay: -342s;
}
img:nth-child(126) {
  animation-delay: -345s;
}
img:nth-child(127) {
  animation-delay: -348s;
}
img:nth-child(128) {
  animation-delay: -351s;
}
img:nth-child(129) {
  animation-delay: -354s;
}
img:nth-child(130) {
  animation-delay: -357s;
}
img:nth-child(131) {
  animation-delay: -360s;
}
img:nth-child(132) {
  animation-delay: -363s;
}
img:nth-child(133) {
  animation-delay: -366s;
}
img:nth-child(134) {
  animation-delay: -369s;
}
img:nth-child(135) {
  animation-delay: -372s;
}
img:nth-child(136) {
  animation-delay: -375s;
}
img:nth-child(137) {
  animation-delay: -378s;
}
img:nth-child(138) {
  animation-delay: -381s;
}
img:nth-child(139) {
  animation-delay: -384s;
}
img:nth-child(140) {
  animation-delay: -387s;
}
img:nth-child(141) {
  animation-delay: -390s;
}
img:nth-child(142) {
  animation-delay: -393s;
}
img:nth-child(143) {
  animation-delay: -396s;
}
img:nth-child(144) {
  animation-delay: -399s;
}
img:nth-child(145) {
  animation-delay: -402s;
}
img:nth-child(146) {
  animation-delay: -405s;
}
img:nth-child(147) {
  animation-delay: -408s;
}
img:nth-child(21) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 0vw;
  z-index: -1;
}
img:nth-child(22) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: 10vw;
  z-index: -3;
}
img:nth-child(23) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 90vw;
  z-index: -2;
}
img:nth-child(24) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 36vw;
  z-index: -1;
}
img:nth-child(25) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: 62vw;
  z-index: -3;
}
img:nth-child(26) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 15vw;
  z-index: -2;
}
img:nth-child(27) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 55vw;
  z-index: -2;
}
img:nth-child(28) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: -20vw;
  z-index: -3;
}
img:nth-child(29) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 68vw;
  z-index: -1;
}
img:nth-child(30) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 0vw;
  z-index: -2;
}
img:nth-child(31) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 0vw;
  z-index: -1;
}
img:nth-child(32) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: 10vw;
  z-index: -3;
}
img:nth-child(33) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 90vw;
  z-index: -2;
}
img:nth-child(34) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 36vw;
  z-index: -1;
}
img:nth-child(35) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: 62vw;
  z-index: -3;
}
img:nth-child(36) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 15vw;
  z-index: -2;
}
img:nth-child(37) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 55vw;
  z-index: -2;
}
img:nth-child(38) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: -20vw;
  z-index: -3;
}
img:nth-child(39) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 68vw;
  z-index: -1;
}
img:nth-child(40) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 0vw;
  z-index: -2;
}
img:nth-child(41) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 0vw;
  z-index: -1;
}
img:nth-child(42) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: 10vw;
  z-index: -3;
}
img:nth-child(43) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 90vw;
  z-index: -2;
}
img:nth-child(44) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 36vw;
  z-index: -1;
}
img:nth-child(45) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: 62vw;
  z-index: -3;
}
img:nth-child(46) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 15vw;
  z-index: -2;
}
img:nth-child(47) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 55vw;
  z-index: -2;
}
img:nth-child(48) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: -20vw;
  z-index: -3;
}
img:nth-child(49) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 68vw;
  z-index: -1;
}
img:nth-child(50) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 0vw;
  z-index: -2;
}
img:nth-child(51) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 0vw;
  z-index: -1;
}
img:nth-child(52) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: 10vw;
  z-index: -3;
}
img:nth-child(53) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 90vw;
  z-index: -2;
}
img:nth-child(54) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 36vw;
  z-index: -1;
}
img:nth-child(55) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: 62vw;
  z-index: -3;
}
img:nth-child(56) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 15vw;
  z-index: -2;
}
img:nth-child(57) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 55vw;
  z-index: -2;
}
img:nth-child(58) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: -20vw;
  z-index: -3;
}
img:nth-child(59) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 68vw;
  z-index: -1;
}
img:nth-child(60) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 0vw;
  z-index: -2;
}
img:nth-child(61) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 0vw;
  z-index: -1;
}
img:nth-child(62) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: 10vw;
  z-index: -3;
}
img:nth-child(63) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 90vw;
  z-index: -2;
}
img:nth-child(64) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 36vw;
  z-index: -1;
}
img:nth-child(65) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: 62vw;
  z-index: -3;
}
img:nth-child(66) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 15vw;
  z-index: -2;
}
img:nth-child(67) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 55vw;
  z-index: -2;
}
img:nth-child(68) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: -20vw;
  z-index: -3;
}
img:nth-child(69) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 68vw;
  z-index: -1;
}
img:nth-child(70) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 0vw;
  z-index: -2;
}
img:nth-child(71) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 0vw;
  z-index: -1;
}
img:nth-child(72) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: 10vw;
  z-index: -3;
}
img:nth-child(73) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 90vw;
  z-index: -2;
}
img:nth-child(74) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 36vw;
  z-index: -1;
}
img:nth-child(75) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: 62vw;
  z-index: -3;
}
img:nth-child(76) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 15vw;
  z-index: -2;
}
img:nth-child(77) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 55vw;
  z-index: -2;
}
img:nth-child(78) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: -20vw;
  z-index: -3;
}
img:nth-child(79) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 68vw;
  z-index: -1;
}
img:nth-child(80) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 0vw;
  z-index: -2;
}
img:nth-child(81) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 0vw;
  z-index: -1;
}
img:nth-child(82) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: 10vw;
  z-index: -3;
}
img:nth-child(83) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 90vw;
  z-index: -2;
}
img:nth-child(84) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 36vw;
  z-index: -1;
}
img:nth-child(85) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: 62vw;
  z-index: -3;
}
img:nth-child(86) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 15vw;
  z-index: -2;
}
img:nth-child(87) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 55vw;
  z-index: -2;
}
img:nth-child(88) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: -20vw;
  z-index: -3;
}
img:nth-child(89) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 68vw;
  z-index: -1;
}
img:nth-child(90) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 0vw;
  z-index: -2;
}
img:nth-child(91) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 0vw;
  z-index: -1;
}
img:nth-child(92) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: 10vw;
  z-index: -3;
}
img:nth-child(93) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 90vw;
  z-index: -2;
}
img:nth-child(94) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 36vw;
  z-index: -1;
}
img:nth-child(95) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: 62vw;
  z-index: -3;
}
img:nth-child(96) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 15vw;
  z-index: -2;
}
img:nth-child(97) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 55vw;
  z-index: -2;
}
img:nth-child(98) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: -20vw;
  z-index: -3;
}
img:nth-child(99) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 68vw;
  z-index: -1;
}
img:nth-child(100) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 0vw;
  z-index: -2;
}
img:nth-child(101) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 0vw;
  z-index: -1;
}
img:nth-child(102) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: 10vw;
  z-index: -3;
}
img:nth-child(103) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 90vw;
  z-index: -2;
}
img:nth-child(104) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 36vw;
  z-index: -1;
}
img:nth-child(105) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: 62vw;
  z-index: -3;
}
img:nth-child(106) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 15vw;
  z-index: -2;
}
img:nth-child(107) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 55vw;
  z-index: -2;
}
img:nth-child(108) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: -20vw;
  z-index: -3;
}
img:nth-child(109) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 68vw;
  z-index: -1;
}
img:nth-child(110) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 0vw;
  z-index: -2;
}
img:nth-child(111) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 0vw;
  z-index: -1;
}
img:nth-child(112) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: 10vw;
  z-index: -3;
}
img:nth-child(113) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 90vw;
  z-index: -2;
}
img:nth-child(114) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 36vw;
  z-index: -1;
}
img:nth-child(115) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: 62vw;
  z-index: -3;
}
img:nth-child(116) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 15vw;
  z-index: -2;
}
img:nth-child(117) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 55vw;
  z-index: -2;
}
img:nth-child(118) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: -20vw;
  z-index: -3;
}
img:nth-child(119) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 68vw;
  z-index: -1;
}
img:nth-child(120) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 0vw;
  z-index: -2;
}
img:nth-child(121) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 0vw;
  z-index: -1;
}
img:nth-child(122) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: 10vw;
  z-index: -3;
}
img:nth-child(123) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 90vw;
  z-index: -2;
}
img:nth-child(124) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 36vw;
  z-index: -1;
}
img:nth-child(125) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: 62vw;
  z-index: -3;
}
img:nth-child(126) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 15vw;
  z-index: -2;
}
img:nth-child(127) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 55vw;
  z-index: -2;
}
img:nth-child(128) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: -20vw;
  z-index: -3;
}
img:nth-child(129) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 68vw;
  z-index: -1;
}
img:nth-child(130) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 0vw;
  z-index: -2;
}
img:nth-child(131) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 0vw;
  z-index: -1;
}
img:nth-child(132) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: 10vw;
  z-index: -3;
}
img:nth-child(133) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 90vw;
  z-index: -2;
}
img:nth-child(134) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 36vw;
  z-index: -1;
}
img:nth-child(135) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: 62vw;
  z-index: -3;
}
img:nth-child(136) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 15vw;
  z-index: -2;
}
img:nth-child(137) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 55vw;
  z-index: -2;
}
img:nth-child(138) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: -20vw;
  z-index: -3;
}
img:nth-child(139) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 68vw;
  z-index: -1;
}
img:nth-child(140) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 0vw;
  z-index: -2;
}
img:nth-child(141) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 0vw;
  z-index: -1;
}
img:nth-child(142) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: 10vw;
  z-index: -3;
}
img:nth-child(143) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 90vw;
  z-index: -2;
}
img:nth-child(144) {
  --name: float-up-1;
  --duration: calc(20s * 1);
  left: 36vw;
  z-index: -1;
}
img:nth-child(145) {
  --name: float-up-3;
  --duration: calc(20s * 3);
  left: 62vw;
  z-index: -3;
}
img:nth-child(146) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 15vw;
  z-index: -2;
}
img:nth-child(147) {
  --name: float-up-2;
  --duration: calc(20s * 2);
  left: 55vw;
  z-index: -2;
}

@keyframes float-up-3 {
  from {
    transform: translateY(200vh) translateZ(-50vh);
  }
  to {
    transform: translateY(-200vh) translateZ(-50vh);
  }
}
@keyframes float-up-2 {
  from {
    transform: translateY(150vh) translateZ(-25vh);
  }
  to {
    transform: translateY(-150vh) translateZ(-25vh);
  }
}
@keyframes float-up-1 {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(-100vh);
  }
}
@keyframes spin {
  10%, 100% {
    transform: rotateY(360deg);
  }
}
@keyframes shrink {
  0% {
    transform: scale(1) translateX(0);
  }
  2.5% {
    transform: scale(0.75) translateX(5%);
  }
  7.5% {
    transform: scale(0.75) translateX(-5%);
  }
  10%, 100% {
    transform: scale(1);
  }
}
